#logo-img { width: 8rem; }

.home {
    text-transform: uppercase;
    padding: 0;
}

.home a {  
    color: var(--main-fg);
    text-decoration: none;
    padding: 0.7em 0.7em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    font-weight: bold; 
    font-size: 0.9rem;
}

.home a:hover { color: var(--link-fg); }

.message { margin-bottom: 3em; }

@media only screen and (max-width: 800px) {
    .message { margin: initial; }
    .home { padding: 1em 0 0 0; }
}
