.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

#toc ul {
    list-style-type: none;
    text-align: left;
    padding: 15px;
    padding-top: 5px;
    margin: 0;
    font-size: 0.9em;
    line-height: 20px;
}

#toc li {
    padding: 4px 5px 4px 10px;
    margin: 3px 0 3px 0;
    border-radius: 7px;
}

#toc a {
    text-decoration: none;
}

.dark-theme #toc li:hover{
    background: #202122;
}

#toc li:hover{
    background: #e3e3e3;
}

.toc-title {
    padding: 20px 0 10px 0;
}

/*#sticky-sidebar {
    margin-top: 40px;
}*/

.sidebar-bg {
    background: #f3f3f3;
    border-radius: 10px;
    width: 265px;
}

.sidebar-bg hr {
    width: 90%;
}

.sidebar-bg a {
    text-align: left
}

.dark-theme .sidebar-bg {
    background: #252627;
}

@media (max-width: 992px) {
  #sticky-sidebar {
    display: none;
  }
  #navbar-small-button {
    display: block !important;
  }
}

@media (min-width: 992px) {
  #navbar-small {
    display: none !important;
  }
}
