html, body {
    scroll-padding-top: 90px;
}

.header {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

.menu {
    background: #f1f1f1;
}

.dark-theme .menu {
    background: #252627;
}

.header__inner {
    width: 100%
}

.outer-div {
    margin-top: 5rem;
}

.main-container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 684px) {
    .posts {
        margin-top: 45px;
    }
}

.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  padding-top: 50px;
  margin: 20px auto;
  @media #{$media-size-tablet} {
    max-width: 600px;
  }
}

.language-terminal {
    background: #f1f1f1!important;
    color: #222!important;
    margin: 20px 0 20px 0!important;
}

.dark-theme .language-terminal {
    background: #252627!important;
    color: #a9a9b3!important;
}

.language-bash, .language-text, .language-c {
    background: #444!important;
    color: #d1d1d1!important;
    margin: 20px 0 20px 0!important;
}

.dark-theme .language-bash, .dark-theme .language-text, .dark-theme .language-c{
    background: #333!important;
    color: #cfcfcf!important;
}

.next-prev-post {
    margin-top: 20px;
}

.footer__content {
    font-size: 0.8em;
}
