{{ partial "header.html" . }}

<div class="wrapper">
    <div class="banner">
        <pre class="ascii">
                -@               
               .##@              
              .####@             
              @#####@            
            . *######@           
           .##@o@#####@          
          /############@         
         /##############@        
        @######@**%######@       
       @######`     %#####o      
      @######@       ######%     
    -@#######h       ######@.`   
   /#####h**``       `**%@####@  
  @H@*`                    `*%#@ 
 *`                            `*</pre>

        <div class="message">
            <p>These are some notes that I've written about the installation and setup process of Arch Linux.</p>
        </div>
    </div>

{{ .Content }}

    <ol id="arch-note-list">
    {{ range $pages := .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
    </ol>
</div>
{{ partial "footer.html" . }}
