{{ partial "header.html" . }}

<div class="wrapper">
    <div class="banner">
        <pre class="ascii">
                -@               
               .##@              
              .####@             
              @#####@            
            . *######@           
           .##@o@#####@          
          /############@         
         /##############@        
        @######@**%######@       
       @######`     %#####o      
      @######@       ######%     
    -@#######h       ######@.`   
   /#####h**``       `**%@####@  
  @H@*`                    `*%#@ 
 *`                            `*</pre>

        <div class="message">
            <p>These are some notes that I've written about the installation and setup process of Arch Linux.</p>
        </div>
    </div>

{{ .Content }}

<ul class="post-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
</div>
{{ partial "footer.html" . }}
