{{ partial "header.html" . }}

<div class="wrapper">

    <div class="banner">
        <pre class="ascii">

     _________________
    |.-------*-------.|
    ||..<.........$..||
    ||......@........||
    ||...#...........||
    ||...............||
    ||..........}....||
    ||_______________||
    /.-.-.-.-.-.-.-.-.\
   /.-.-.-.-.-.-.-.-.-.\
  /.-.-.-.-.-.-.-.-.-.-.\
 /______/__________\_____\
 \_______________________/

        </pre>

        <div class="message">
            <p>{{ .Site.Params.messageTitle }}</p>
            <p>{{ .Site.Params.messageContent }}</p>
        </div>
    </div>

{{ .Content }}

<ul class="post-list">
  {{ range (.Paginate ( where site.RegularPages.ByLastmod.Reverse "Section" "!=" "" | first 5 ) ).Pages }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
</div>
{{ partial "footer.html" . }}
