{{ partial "header.html" . }}

<div class="wrapper">
    <div class="banner">
        <div class="ascii" style="white-space: pre; font-variant-ligatures: none; font-family: monospace">

          ,._
      _.-'-._`.
     /       \\
     |   |   |\\
     |/\___/\|\\
     / .   . \//
     \  )w(  /U
  .--(,,)(,,)---.
  |\__||__||___/|
  |   <span style="font-size: 0.7em">urgent</span>      |
  `-------------`

        </div>
        <div class="message">
            <p>You can contact me through:</p>
        </div>
    </div>

{{ .Content }}

</div>
{{ partial "footer.html" . }}
